<footer>
  <div class="footer container column align-items-center justify-content-center">
    <div class="footer--block text-align-center">
      <div class="by" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
<!--        <small>Made with ❤️ inspired of {{ site.data.translations.inspiredOf[ page.lang ] }}</small>-->
        <br>
        <!-- <small>Contribute on {{ site.data.translations.viewOnGitHub[page.lang] }} - {{ 'now' | date: "%Y" }}</small> -->
        <small>© {{ 'now' | date: "%Y" }}. {{ site.domain }}. inspired by {{ site.data.translations.inspiredOf[ page.lang ] }}. MIT License.</small>
      </div>
    </div>
  </div>
</footer>
