<div class="">
  {% if site.posts.size == 0 %}
    <h2>No job post found</h2>
  {% else %}
    {% assign related = site.posts | sort: "date" | reverse | where:"lang", page.lang | where:"published", true %}
    {% if related.size > 0 %}
      {% for post in related %}
        {% assign first_img_url = '' %}
        {% if post.content contains '<img' %}
          {% assign _img_parts = post.content | split: 'src="' %}
          {% if _img_parts.size > 1 %}
            {% assign first_img_url = _img_parts[1] | split: '"' | first %}
          {% endif %}
        {% endif %}
        <a href="{{ post.permalink }}" class="list-item container">
          <div class="flex-grow-1">
            <div class="">
	      <!-- TODO: Almost companies work with this code, but not all.
	      <img src="https://api.twelvedata.com/logo/{{ post.domain }}"
	           alt="Logo image of {{ post.title }} by Twelve Data"
               onerror="this.style.display='none';"/>
	      -->
              <h2 class="list-post-title"> {{ post.title }} </h2>
            </div>

            <div class="">
              {% if post.description and post.description != '' %}
                <span class="list-post-description">{{ post.description }}</span>
              {% else %}
                <span class="list-post-description">{{ post.content | strip_html | truncate: 280 }}</span>
              {% endif %}
            </div>

            <div class="list-post-written">
	      <small>
		{{ site.data.translations.postUpdatedBy[page.lang] }}
		<time>
     		  {% if page.lang == 'en' %}
	            {{ post.date | date_to_string }}
		  {% else %}
	            {{ post.date | date: "%Y-%m-%d " }}
		  {% endif %}
		</time>
	      </small>
            </div>

            <div class="post-list-tags">
              {% for category in post.categories %}
                {% if category == 'full_remote' %}
                  <small class="post-tag">{{ site.data.translations.postTagFullRemote[post.lang]}}</small>
                {% endif %}
                {% if category == 'ja_required' %}
                  <small class="post-tag">{{ site.data.translations.postTagJaRequired[post.lang]}}</small>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          {% if first_img_url != '' %}
            <div class="list-post-thumbnail">
              <img src="{{ first_img_url }}" alt="{{ post.title }}" class="list-post-thumbnail-img" />
            </div>
          {% endif %}
        </a>
      {% endfor %}
    {% endif %}
  {% endif %}
</div>
